/* .header{
  display: flex;
  height: 15vh;
  width: 60vw;
}

.header > h2{
  color: rgb(0, 0, 0);
  margin-left: 55vw;
  justify-content: center;
} */

.page {
  position: absolute;
  justify-content: center;
  left: 25%;
  top: 120px;
  right: 25%;
  background-color: rgb(57, 167, 130);
  height: 50vh;
}
.page > p{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}
.page > .MuiSvgIcon-root{
  padding: 20px;
  margin-left: 80px;
  margin-bottom: -40px;
}

.page > input{
  margin-top: -40px;
}